@using ConferenceApp.Models;
@using ConferenceApp.Infrastructure;

@model RequestResetPasswordModel

Dear @Model.FullName

Admin has requested password reset for you, 
Click <a class="approvestyle" href='@Helper.GetHostAddress()/Account/SetPassword/?token=@Model.ResetPasswordToken'>here</a> to set your password
