@using ConferenceApp.Models;
@using ConferenceApp.Infrastructure;

@model RequestResetPasswordModel

Click <a class="approvestyle" href='@Helper.GetHostAddress()/Account/SetPassword/?token=@Model.ResetPasswordToken'>here</a> to set your password
