@using Model.Models;
@model EditSessionModel

@{
    ViewBag.Title = "Edit Session";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

 @Html.Partial("_CreateOrEdit", Model)

    <p>
        @if(Model.Permissions.CanEdit){
        <input type="submit" class="btn btn-primary" value="Save" name="btnSubmit" />
        <input type="submit" class="btn btn-success" value="Submit" name="btnSubmit" />
        }
        <a href="/Session/Manage" class="btn btn-link">Cancel</a>
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
