@{
	var status = (string)TempData["StatusMessage"];
	var statusType = (string)TempData["StatusMessageType"];
	
	if (status != null)
	{	
		<div class="alert alert-@statusType.ToString().ToLowerInvariant()">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>
                @status
            </p>
		</div>
	}
}
