@{
	var status = (string)TempData["StatusMessage"];
	var statusType = (string)TempData["StatusMessageType"];
	
	if (status != null)
	{	
		<div id="status-message" class="@statusType">
			@status
		</div>
	}
}