@using ConferenceApp.Resourses.Shared
@{
    ViewBag.Title = Localization.Title;
}
@using ConferenceApp.Resourses.Shared
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Localization.Title</h1>
                <h2>@Localization.Message</h2>
            </hgroup>
        </div>
    </section>
}
<div style="padding:10px 10px 10px 10px;">
</div>