@model string
@{
    ViewBag.Title = "Http Error 404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Page not found</h2>

<img src="~/Images/Creative-404-Error-Page.jpg" alt="Page does not exist" />
