@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>

<img src="~/Images/accept-responsibility-500-error-page.jpg" alt="Its not you" />

Error has been recorded and will be fixed asap!

Error message: @Model